@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --Primary-Lime: hsl(61, 70%, 52%);
  --Primary-Red: hsl(4, 69%, 50%);
  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-Slate-100: hsl(202, 86%, 94%);
  --Neutral-Slate-300: hsl(203, 41%, 72%);
  --Neutral-Slate-500: hsl(200, 26%, 54%);
  --Neutral-Slate-700: hsl(200, 24%, 40%);
  --Neutral-Slate-900: rgb(18, 47, 63);
}

body p {
  font-size: 16px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: var(--Neutral-Slate-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.repaymentApp {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.mortgageCalculator {
  background-color: var(--Neutral-White);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  padding: 1.5rem 1rem;
}

.mortgageCalculator .title {
  font-weight: 700;
}

.mortgageCalculator .clear {
  text-decoration: underline;
  color: var(--Neutral-Slate-700);
}

.HiddenResult {
  background-color: var(--Neutral-Slate-900);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.6rem;
  padding: 1.8rem;
}

.HiddenResult .illustration {
  width: 50%;
}

.HiddenResult .title {
  color: var(--Neutral-White);
}

.HiddenResult .text {
  color: var(--Neutral-Slate-300);
  text-align: center;
}

.VisibleResult {
  background-color: rgba(18, 47, 63, 0.9);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.6rem;
  padding: 1.8rem;
}

.VisibleResult .title {
  color: var(--Neutral-White);
}

.VisibleResult .text {
  color: var(--Neutral-Slate-300);
}

.wrap-monthly-repayments {
  background-color: var(--Neutral-Slate-900);
  padding: 1rem 0.8rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  box-shadow: 0 -0.2rem 0 0 var(--Primary-Lime);
  margin-top: 0.2rem;
}

.wrap-monthly-repayments .title {
  color: var(--Neutral-Slate-300);
  font-size: 0.8rem;
}

.wrap-monthly-repayments .monthly-repayments,
.wrap-monthly-repayments .total-repayments {
  color: var(--Neutral-White);
  font-size: 1.4rem;
}

.wrap-monthly-repayments .monthly-repayments {
  border-bottom: 1px solid var(--Neutral-Slate-700);
  padding-bottom: 0.4rem;
  color: var(--Primary-Lime);
}
